<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Location Detail</title>
</head>
<body>
  <p>
    <a href="{% url "project_home" %}">Home</a> |
    <a href="{% url "location_list" %}">Back to Locations</a>
  </p>

  <h1>{{ location.name }}</h1>
  <ul>
    <li>Country: {{ location.country }}</li>
    <li>Difficulty: {{ location.get_difficulty_display }}</li>
    <li>Latitude: {{ location.latitude }}</li>
    <li>Longitude: {{ location.longitude }}</li>
    <li>
      Street View URL:
      {% if location.street_view_url %}
        <a href="{{ location.street_view_url }}" target="_blank">Open Street View</a>
      {% else %}
        Not provided
      {% endif %}
    </li>
  </ul>
</body>
</html>
