{# File: logged_out.html #}
{# Author: Xiankun Zeng (xiankz23@bu.edu), 2/12/2026 #}
{# Description: Shown after logout (LogoutView next_page). Link to log in again. #}
{% extends 'mini_insta/base.html' %}

{% block content %}
<main class="main-content">
    <div class="form-card card">
        <h1 class="page-title">Logged out</h1>
        <p class="page-lead">You have been logged out successfully.</p>
        <p><a href="{% url 'mini_insta_login' %}" class="btn btn-primary">Log in again</a></p>
    </div>
</main>
{% endblock %}
